.skills__item{
	margin-bottom: 2rem;
	font-size: 1.6rem;
	
	&:last-child{
		margin-bottom: 0;
	}
}

.skills__name{
	display: inline-block;
	width: 40%;
}

.skills__level{
	float: right;
}

.skill{
	display: inline-block;
    height: 1rem;
    width: 40%;
}

.skill__inner{
	height: 100%;
	background-color: #fff;
}

.skill__inner_PHOTOSHOP{
	width: 100%;
}

.skill__inner_ILLUSTRATOR{
	width: 98%;
}

.skill__inner_WORDPRESS{
	width: 67%;
}

.skill__inner_JOOMLA{
	width: 70%;
}

.skill__inner_JQUERY{
	width: 58%;
}
