/*Страница*/

@main-color: #fd5433;
@submain-color: #c2432a;
@addit-color: #474444;

/*Подключаем переменные и миксины*/
@import "settings";

/*Подключаем компоненты верстки*/
@import "components/preloader.less";
@import "components/hamburger.less";
@import "components/top-panel.less";

/*Подключаем секции*/
@import "sections/about.less";
@import "sections/blog.less";
@import "sections/contacts.less";
@import "sections/portfolio.less";
@import "sections/services.less";
@import "sections/header.less";

/*Подключаем вспомогательный элемент, убирающий последствия от "float"*/
@import "helpers/clearfix.less";


/*Общее*/
*{
    margin: 0;
    padding: 0;
}

html{
	min-height: 100%;
	z-index: 10;
}

body{
	color: @addit-color;
	background-color: #fff;
	font-family: Arial,'Oswald-Bold', 'BebasNeue Book';
}

a{
	color: @addit-color;
	text-decoration: none;
	transition: color 0.4s ease-in 0s;
}

img{
	max-width: 100%;
    height: auto;
}

.main-container{
	margin: 0px auto;
	padding-left: 5px;
	padding-right: 5px;
}

.title_border-top{
	border-top: 1px solid #828282;
	border-bottom: none;
}

.article{
	line-height: 1.4;
}

.page{
	overflow: hidden;
}

.section__title{
	text-align: center;
	border-bottom: 1px solid #828282;
	padding: 35px 0px;
	font-size: 3.2rem;
	font-family: 'Oswald-Bold';
	color: @main-color;
}

@media screen and (min-width: @min-width-big){
	html{
		font-size: 10px;
	}
	
	.main-container{
		min-width: 641px;
		max-width: 1170px;
	}
}

@media screen and (max-width: @max-width-normal) and (min-width: @min-width-normal){
	html{
		font-size: 8px;
	}
	
	.main-container{
		max-width: 640px;
	}
	
	.section__title{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media screen and (max-width: @max-width-lesser){
	html{
		font-size: 7px;
	}
	
	.main-container{
		max-width: 360px;
	}
	
	.section__title{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}



















